# Test notebook  
Import libraries:

In [306]:
import functions as fun
import pandas as pd
import numpy as np

Import the data from the file *"your_dataset.csv"*:

In [307]:
# Load the data
data = pd.read_csv('../Data/your_dataset.csv')
data.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
0,1.205492,5.823226,98.837539,-1.075852,0.999205,0.911543,3.623558,-1.720267,-0.346191,-54.708330,-1
1,1.391530,3.611581,98.857197,-5.020318,0.677165,0.999492,3.413112,4.253865,2.041603,-54.317291,1
2,1.692571,-0.887019,100.901276,-0.595548,0.177550,-0.915495,4.320264,0.907834,3.126815,-56.397484,-1
3,4.289320,1.416843,100.784735,-2.897154,-0.066972,-0.786173,2.093003,1.336237,2.183829,-56.197728,1
4,0.542420,-1.010095,100.015580,-3.070705,0.088324,-0.242669,0.767942,-0.284683,-2.104145,-55.794045,1

Select x and y from the data:

In [308]:
x = data.iloc[:, :-1].values
x

array([[ 1.20549176e+00,  5.82322602e+00,  9.88375390e+01, ...,
        -1.72026679e+00, -3.46190993e-01, -5.47083295e+01],
       [ 1.39152953e+00,  3.61158113e+00,  9.88571974e+01, ...,
         4.25386545e+00,  2.04160302e+00, -5.43172913e+01],
       [ 1.69257118e+00, -8.87019160e-01,  1.00901276e+02, ...,
         9.07834017e-01,  3.12681451e+00, -5.63974841e+01],
       ...,
       [ 1.74193338e+00,  3.63043056e-02,  1.00524071e+02, ...,
        -1.31275953e+00, -4.42573164e-01, -5.61708765e+01],
       [ 2.57498643e+00,  4.14423127e-02,  9.89837352e+01, ...,
         9.04037667e-01, -1.69506427e+00, -5.48206991e+01],
       [ 1.23522892e-01, -1.51841245e+00,  9.91593002e+01, ...,
         4.08770835e-01, -2.16351846e+00, -5.48064335e+01]])

In [309]:
y = data.iloc[:, -1].values
y

array([-1,  1, -1, ..., -1,  1,  1])

In [310]:
# create training and test set
indices = np.arange(x.shape[0])
np.random.shuffle(indices)

x = x[indices]
y = y[indices]

split_index = int(0.7 * x.shape[0])

x_train, x_test = x[:split_index], x[split_index:]
y_train, y_test = y[:split_index], y[split_index:]

### Train and Test the Perceptron Algorithm: 

#### Train the data:

In [311]:
prediction_train = fun.perceptron(x_train, y_train, 1)
pd.DataFrame(prediction_train[1])

        0
0    -1.0
1     1.0
2     1.0
3     1.0
4     1.0
...   ...
6995  1.0
6996  1.0
6997  1.0
6998 -1.0
6999  1.0

[7000 rows x 1 columns]

Calculate the 0-1 loss:

In [312]:
zol = fun.zero_one_loss(prediction_train[1], y_train)
zol

2567

In [313]:
zol_p_train = zol/len(y_train)
zol_p_train

0.3667142857142857

The training set is not perfectly linearly separable.

#### Test the data:

In [314]:
x_test = np.insert(x_test, 0, 1, axis=1)  # Insert a column of ones for the bias term

In [315]:
prediction_test = np.sign(np.dot(x_test, prediction_train[0])) # Predict the test set
pd.DataFrame(prediction_test)

        0
0    -1.0
1    -1.0
2     1.0
3    -1.0
4     1.0
...   ...
2995 -1.0
2996  1.0
2997  1.0
2998  1.0
2999  1.0

[3000 rows x 1 columns]

Calculate the 0-1 loss:

In [316]:
zol_test = fun.zero_one_loss(prediction_test, y_test)
zol_test

1085

In [317]:
zol_p_test = zol_test/len(y_test)
zol_p_test

0.3616666666666667

### Train and Test the Pegasos algorithm: